# Import libraries and dataframes

In [2]:
import pandas as pd
import numpy as np 
import os 

path = r'C:\Users\ctede\OneDrive\Desktop\Instacart Basket Analysis'
#Create dataframe for PRODUCTS data set (clean)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_full_clean.csv'), index_col = [0])

In [3]:
#Create dataframe for ORDERS data set (clean)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_full_clean.csv'), index_col = [0])

In [4]:
#Create dataframe for new ORDERS PRIOR data set 
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_prior.csv'))
#This dataframe needed a index column, so I removed the "index_col = [0]" argument

# Check shape/dimensions of the dataframes

## Orders dataframe (clean)

In [5]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## Orders Prior dataframe

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Check the shapes of each dataframe

In [7]:
#Orders dataframe 
df_ords.shape

(3421083, 7)

In [8]:
#Orders PRIOR dataframe 
df_ords_prior.shape

(32434489, 4)

# Merge df_ords and df_ords_prior

In [9]:
#Merge using the common column "order_id" and using the default inner join
#Inner join will show a dataframe that contains only common observations included in both df_ords and df_ords_prior 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [11]:
#Show frequency of the values inside the "_merge" column
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
#Only have observations found in BOTH dataframes. Need to check for a full match
#df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')
#Always important to check merge rates / double check by using an "outer join" 
#df_merged_large['_merge'].value_counts()

# Task 4.6 Combining and Exporting

## 2 Export the merged file in pickle format as "orders_products_combined.pkl"

In [14]:
#Export the df_merged_large dataframe 
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))